#nav {
    background-color: blue;
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu;
    color: white;
} 

#Preston {
    width: 600px; 
    height: 600px;
}

#heroImage1 { 
    width: 48%;
    float: left;
    margin-right: 15px;
    flex: 2 0 15em;
    margin: .5em;
  }